# this is the config file for the kin-app-server. 
# Its a jinja2 file, meant to be processed by Ansible. By default, the debug mode is set to True,
# and the debug values are hard-coded. Production values must be provided via the playbook.

DEBUG = {{ debug | default('True') }}
DB_CONNSTR = "{{ db_connstr }}"

REDIS_ENDPOINT = "{{ redis_endpoint }}"
REDIS_PORT = {{ redis_port }}
ONBOARDING_SERVICE_BASE_URL = "{{ onboarding_service_base_url }}"
