version: "3"

services:

  payment-service:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    ports:
      - 4999:4999
    restart: always
    environment:
      &app_env_vars
      APP_DEBUG: 'True'
      APP_PORT: 4999
      APP_HOST: '0.0.0.0'
      APP_NAME: 'payment-service'
      APP_REDIS: redis://kinit-app-prod.qugi0x.ng.0001.use1.cache.amazonaws.com:6379/0
      STELLAR_BASE_SEED: ${STELLAR_BASE_SEED}
      STELLAR_ADDRESS: ${STELLAR_ADDRESS}
      STELLAR_HORIZON_URL: ${STELLAR_HORIZON_URL}
      STELLAR_NETWORK: ${STELLAR_NETWORK}
      STELLAR_KIN_ISSUER_ADDRESS: ${STELLAR_KIN_ISSUER_ADDRESS}
      STELLAR_KIN_TOKEN_NAME: ${STELLAR_KIN_TOKEN_NAME}
      STELLAR_INITIAL_XLM_AMOUNT: ${STELLAR_INITIAL_XLM_AMOUNT}

  payment-worker-1:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-2:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-3:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-4:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-5:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-6:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-7:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-8:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-9:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-10:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-11:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-12:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-13:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-14:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20

  payment-worker-15:
    image: kinecosystem/payment-service
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 20