version: "3"

services:

  payment-service-v3:
    image:  ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    ports:
      - 4998:4998
    restart: always
    environment:
      &app_env_vars
      APP_DEBUG: ${APP_DEBUG}
      APP_PORT: 4998
      APP_HOST: '0.0.0.0'
      APP_NAME: 'payment-service-v3'
      APP_REDIS: redis://kinit-app-prod.qugi0x.ng.0001.use1.cache.amazonaws.com:6379/1
      STELLAR_BASE_SEED: ${STELLAR_BASE_SEED}
      STELLAR_ADDRESS: ${STELLAR_ADDRESS}
      STELLAR_HORIZON_URL: ${STELLAR_HORIZON_URL}
      STELLAR_NETWORK: ${STELLAR_NETWORK}
      STELLAR_INITIAL_XLM_AMOUNT: ${STELLAR_INITIAL_XLM_AMOUNT}

  payment-worker-1:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-2:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-3:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-4:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-5:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-6:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-7:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-8:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-9:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-10:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-11:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-12:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-13:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-14:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}

  payment-worker-15:
    image: ${PAYMENT_SERVICE_IMAGE}
    volumes:
      - .:/opt/app
    command: pipenv run python worker.py
    restart: always
    environment:
      <<: *app_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: ${MAX_CHANNELS}