[program:kinappserver]
directory=/opt/kin-app-server/kinappserver
command=uwsgi --socket 0.0.0.0:8000 --protocol=http -w wsgi --enable-threads
autostart=true
autorestart=true
stderr_logfile=/var/log/kinappserver.err.log
stdout_logfile=/var/log/kinappserver.out.log
environment=
    FLASK_APP=kinappserver,
    ENV={{ deployment_env }}