[program:kinappworker]
directory=/opt/kin-app-server/kinappserver
command=rq worker kinappserver-{{deployment_env}} --url redis://kin-app-server-stage.qugi0x.0001.use1.cache.amazonaws.com:6379
autostart=true
autorestart=true
stderr_logfile=/var/log/kinappworker.err.log
stdout_logfile=/var/log/kinappworker.out.log
stopasgroup=true
environment=
    FLASK_APP=kinappserver,
    ENV={{ deployment_env }},
    STELLAR_ACCOUNT_SID={{ play_hosts.index(inventory_hostname) }},
    LC_ALL=C.UTF-8