[program:kinappworker-push]
directory=/opt/kin-app-server/kinappserver
command=rq worker kinappserver-{{deployment_env}}-push --url redis://{{redis_endpoint}}:6379 --logging_level=INFO
autostart=true
autorestart=true
stderr_logfile=/var/log/kinappworker_push.err.log
stdout_logfile=/var/log/kinappworker_push.out.log
stopasgroup=true
environment=
    FLASK_APP=kinappserver,
    ENV={{ deployment_env }},
    STELLAR_ACCOUNT_SID={{ play_hosts.index(inventory_hostname) }},
    LC_ALL=C.UTF-8