# this is the config file for the kin-app-server. 
# Its a jinja2 file, meant to be processed by Ansible. By default, the debug mode is set to True,
# and the debug values are hard-coded. Production values must be provided via the playbook.

DEPLOYMENT_ENV = "{{deployment_env}}"
DEBUG = {{ debug | default('True') }}
DB_CONNSTR = "{{ db_connstr }}"

REDIS_ENDPOINT = "{{ redis_endpoint }}"
REDIS_PORT = {{ redis_port }}

STELLAR_INITIAL_ACCOUNT_BALANCE = {{ stellar_initial_account_balance }}
STELLAR_TIMEOUT_SEC = {{ stellar_timeout_sec }}

ESHU_USERNAME = "{{ eshu_username }}"
ESHU_PASSWORD = "{{ eshu_password }}"
ESHU_HEARTBEAT = 10
ESHU_APPID = "{{ eshu_appid }}"
ESHU_VIRTUAL_HOST = "{{ eshu_virtual_host }}"
ESHU_EXCHANGE = "{{ eshu_exchange }}"
ESHU_QUEUE = "{{ eshu_queue }}"
ESHU_RABBIT_ADDRESS = "{{ eshu_rabbit_address }}"
GCM_TTL_SECS = 60*60

STELLAR_BASE_SEED = "{{ stellar_base_seed }}"
STELLAR_NETWORK = "{{ stellar_network }}"
STELLAR_CHANNEL_SEEDS = [{{ stellar_channel_seeds }}]
STELLAR_HORIZON_URL = "{{ stellar_horizon_url }}"
STELLAR_KIN_ISSUER_ADDRESS = "{{ stellar_kin_issuer_address }}"

MAX_SIMULTANEOUS_ORDERS_PER_USER = {{ max_simultaneous_orders_per_user }}
ORDER_EXPIRATION_SECS = 60
ORDER_ID_LENGTH = 28
TASK_ALLOCATION_POLICY = 'no-cooldown'

KMS_KEY_AWS_REGION = "{{ kms_key_aws_region }}"
STELLAR_BASE_SEED_CIPHER_TEXT_BLOB = "{{ stellar_base_seed_cipher_text_blob }}"
ENCRYPTED_STELLAR_BASE_SEED = "{{ encrypted_stellar_base_seed }}"
STELLAR_CHANNEL_SEEDS_CIPHER_TEXT_BLOB = "{{ stellar_channel_seeds_cipher_text_blob }}"
ENCRYPTED_STELLAR_CHANNEL_SEEDS = "{{ encrypted_stellar_channel_seeds }}"
